{% extends 'base.html.twig' %}

{% block title %}Shopping List{% endblock %}

{% block body %}

    {% if items %}
        <p>
            <table  id="item-table" class="table table-striped">
                <thead>
                    <tr>
                        <th class="item">Item</th>
                        <th class="quantity">#</th>
                        <th class="unit">Unit</th>
                        <th class="table-buttons"></th>
                    </tr>
                </thead>

                <tbody id="items">
                    {% for item in items %}
                        <tr>
                            <td class="item">{{ item.item }}</td>
                            <td class="quantity">{{ item.quantity }}</td>
                            <td class="unit">{{ item.unit }}</td>
                            <td class="table-buttons">
                                <a href="/edit/{{ item.id }}" class="btn btn-light"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="/delete/{{ item.id }}" class="btn btn-danger delete-item" data-id="{{ item.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>

    {% else %}
        <p>No item to display</p>
    {% endif %}

    <div class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">
        <a href="/add/" class="btn btn-primary btn-block">Add Item</a>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="/js/main.js"></script>

{% endblock %}